#player_log {
  height: 50%;
  width: 300px;
  overflow: scroll;
  font-size: 110%;
  resize:none;
}

#chat {
  height: 40%;
  width: 300px;
  overflow: scroll;
  font-size: 110%;
  resize:none;
}

#message {
  width: 79%;
}

#submit {
  width: 20%;
}

::selection {
  background: transparent; /*Makes selection invisible*/
}

::-moz-selection { /*Makes selection invisible*/
  background: transparent;
}